.softCardsContainer
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 50px
    li
        width: 25%
        display: flex
        flex-direction: column
        text-align: center
        align-items: center
        justify-content: center
        figure
            width: 200px
            height: 200px
            display: flex
            align-items: center
            justify-content: center
            border-radius: 50%
            img
                width: 190px
        #passionate
            background: rgba(93,2,2,0.1)
            background: linear-gradient(0deg,rgba(93,2,2,0.1) 0%, rgba(93,2,2,0.01) 80%)
            background: -webkit-linear-gradient(0deg,rgba(93,2,2,0.1) 0%, rgba(93,2,2,0.01) 80%)
            background: -moz-linear-gradient(0deg,rgba(93,2,2,0.1) 0%, rgba(93,2,2,0.01) 80%)   
        #resourceful
            background: rgba(93,2,2,0.1)
            background: linear-gradient(90deg,rgba(93,2,2,0.1) 0%, rgba(93,2,2,0.01) 80%)
            background: -webkit-linear-gradient(90deg,rgba(93,2,2,0.1) 0%, rgba(93,2,2,0.01) 80%)
            background: -moz-linear-gradient(90deg,rgba(93,2,2,0.1) 0%, rgba(93,2,2,0.01) 80%)   
        #friendly
            background: rgba(93,2,2,0.1)
            background: linear-gradient(270deg,rgba(93,2,2,0.1) 0%, rgba(93,2,2,0.01) 80%)
            background: -webkit-linear-gradient(270deg,rgba(93,2,2,0.1) 0%, rgba(93,2,2,0.01) 80%)
            background: -moz-linear-gradient(270deg,rgba(93,2,2,0.1) 0%, rgba(93,2,2,0.01) 80%)   
      

        .title, .text
            margin-top: 20px
        
        .title
            font-size: 20px