@use 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: variables.$font, sans-serif
    color: red

input
    outline: none
    border: none
    background-color: unset

button
    border: none
    background-color: unset
    cursor: pointer

ul, ol, li
    list-style: none

#root
    width: 100%
    max-width: 1400px
    margin: 0 auto
