@use 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: variables.$font
    text-decoration: none

body
    width: 100vw
    min-height: 100vh

input
    outline: none
    border: none
    background-color: unset

button
    border: none
    background-color: unset
    cursor: pointer

ul, ol, li
    list-style: none

#root
    width: 90vw
    min-height: 100vh
    min-width: 375px
    max-width: 1440px
    margin: 0 auto
   

       
  

   
