@use 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: variables.$font //removi o sans serif pois não tava fazendo efeito
    text-decoration: none //adicionei esse
    //removi a cor padrão de texto pois tava dando conflito. Qualquer coisa trocamos na variável

input
    outline: none
    border: none
    background-color: unset

button
    border: none
    background-color: unset
    cursor: pointer

ul, ol, li
    list-style: none

#root //trocar pra body?
    width: 100%
    max-width: 1400px
    min-width: 375px //adicionei esse
    margin: 0 auto
    min-height: 100vh //adicionei esse
    height: auto //adicionei esse
   
    
  

   
