@use '../../styles/variables'
.navContainer
    display: flex
    
    align-items: center
    justify-content: space-between
    background-color: inherit

.navLogo
    display: flex
    align-items: center
    justify-content: center
    
    
.navDesigno  
    margin-right: 10px
    font-size: variables.$heading2  

.navlink
 margin-right: 1rem





.navlink:hover
    text-decoration: underline