@use "../../styles/variables"

footer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: variables.$black
    position: relative
    width: 100vw
    color: variables.$white
    height: 400px
    


.footerContent
    width: 1111px
    height: fit-content
    margin-top: 80px

.separator
    width: 100%
    border: 1px solid variables.$darkGrey
    margin-top: 50px
    margin-bottom: 30px

.footerBottom
    display: flex
    height: 70px
    align-items: center
    justify-content: space-between
    color: variables.$lightGrey
   

    .footerAddress
        width: 30%
        line-height: 26px
        #addressTitle
            font-weight: 500
    .footerContact
        width: 30%
        font-weight: 500
        line-height: 26px
    .footerSocial
        display: flex
        width: 40%
        height: 100% 
        align-items: flex-end
        justify-content: flex-end
        img
            margin-left: 12px
        
    
        