@use "../../styles/variables"

footer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: variables.$darkGrey
    position: relative
    width: 100%
    color: variables.$white
    


.footerContent
    width: 100%
    height: fit-content

.separator
    width: 100%
    border: 1px solid variables.$lightGrey