@use '../../styles/variables'

.presentationCardContainer
    margin-top: 100px
    background-color: variables.$peach
    display: flex
    align-items: center
    justify-content: flex-end
    min-height: 640px
    border-radius: 15px
    position: absolute
    width: 100%
    max-width: 1111px
    overflow: hidden
    
    .textSide
        width: 44.5%
        position: absolute
        color: variables.$white
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 30px
        margin-left: 130px
        transform: translateX(-100%)
        z-index: 1
        h3
            font-size: variables.$heading1
            line-height:55px
            width: 100%
            font-weight: 500
        p
            font-size: variables.$heading3
        button
            color: variables.$black
            height: 40px
            width: 100px
            border-radius: 6px
            background-color: variables.$white
    .imgsSide
        width: 55.5%
        height: 100%
        position: absolute
        height: 100%
        #presentationCircle
            height: 100%
            position: static
            max-width: 640px
        #presentationCell
          position: absolute
          
  
            
        


     
   
    
        
 
    
   